@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;700&family=Montserrat:wght@300;400;600&family=Roboto:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  background: hsl(235deg 100% 93% / 50%);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #585858;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  text-align: center;
  background-color: rgba(226, 197, 197, 0.277);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 20px;
  box-shadow: hsl(235deg 100% 70% / 30%) 0 25px 50px -12px;
  width: 900px;
  ;
}

.title1 {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

.title1 .uno {
  color: blueviolet;
}

.title1 .dos {
  color: #585858;
}

.title2 {
  font-weight: 600;
  font-size: 25px;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  max-width: 900px;

}

.drop-area {
  width: 435px;
  text-align: center;
  flex: 1;
  margin: 10px; /* Espacio entre los contenedores */
  border: 2px dashed rgb(162, 162, 219); /* Borde para visualización */
  box-sizing: border-box; /* El borde se incluye en el ancho y alto del contenedor */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: hsl(235deg, 100%, 99%);
  color: #585858;
}
#form{
  width: 350px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.file-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;

}

.Btn{
  background-color: rgb(14, 14, 218);
  z-index: 2; /*Superpone en el index*/
  display: flex;
  align-items: center;
  height: 30px;
  width: 150px;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  border: none;
  
}

.container2 {
  flex: 1;
  margin: 10px; /* Espacio entre los contenedores */
  box-sizing: border-box; /* El borde se incluye en el ancho y alto del contenedor */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px 20px;
  background-color: hsla(240, 50%, 85%, 0.319);
  max-height: 430px;
  overflow-y: auto;
  width: 435px;
}
